// nextflow.config

executor {
    name = 'local'
    cpus = 24  // 
}

params {
    project_name = 'WGS_Epistasis'
    raw_data_path = '/data/jzhang/project/nextflow_test/Epistasis_Analysis_nextflow_raw_data'
    sample_csv = '/data/jzhang/project/nextflow_test/Epistasis_Analysis/sample.csv'
    outdir = '/data/jzhang/project/nextflow_test/Epistasis_Analysis/results'
    help = false

    // Trimming parameters
    length_required = 75
    quality_threshold = 25
    adapter_fasta = "${baseDir}/data/Universal_Adapter.fa"

    // Reference genome
    genome = '/data/jzhang/reference/Lactuca_sativa_V11/Lsat_Salinas_v11.genome.fasta'

    // BWA-MEM2 parameters
    bwa_mem2_pl = 'DNB'

    // Software paths
    sambamba_path = '/home/jzhang/software/tools/sambamba-1.0.1'

    // BCFtools parameters
    bcftools_path = '/home/jzhang/software/bcftools-1.22/bcftools'
    bcftools_reference = '/data/jzhang/reference/Lactuca_sativa_V11/Lsat_Salinas_v11.genome.fasta'
    bcftools_ploidy = 2
    bcftools_verbosity = 3

    // SnpEff parameters
    snpEff_path = '/home/jzhang/.local/share/mamba/envs/snpEff/bin/snpEff'
    snpEff_config = '/data/jzhang/reference/snpEff_database/snpEff.config'
    snpEff_genome_name = 'Lactuca_sativa_V11'

    // Qualimap parameters
    qualimap_genome_gff = '/data/jzhang/reference/Lactuca_sativa_V11/Lsat_Salinas_v11.genome.gff'
    qualimap_format = 'HTML'
    qualimap_mem = '20000M'

    // FastQ-Screen parameters
    fastq_screen_run = true
    fastq_screen_path = '/home/jzhang/software/FastQ-Screen-0.16.0/fastq_screen'
    fastq_screen_conf = '/home/jzhang/software/FastQ-Screen-0.16.0/fastq_screen.conf'
    fastq_screen_subset = 100000
    fastq_screen_aligner = 'Bowtie2'
}

process {
    withName: 'FASTQC_RAW' {
        conda = "${baseDir}/envs/fastqc.yaml"
    }
    withName: 'FASTP_CLEAN' {
        conda = "${baseDir}/envs/fastp.yaml"
    }
    withName: 'BWA_INDEX' {
        conda = "${baseDir}/envs/bwa2.yaml"
    }
    withName: 'BWA_MEM' {
        conda = "${baseDir}/envs/bwa2.yaml"
    }
    withName: 'SAMTOOLS_SORT_INDEX' {
        conda = "${baseDir}/envs/bwa2.yaml"
    }
    withName: 'SAMBAMBA_MARKDUPLICATES' {
        conda = false
    }
    withName: 'SAMTOOLS_INDEX_DUP' {
        conda = "${baseDir}/envs/bwa2.yaml"
    }
    withName: 'BCFTOOLS_CALL' {
        conda = "${baseDir}/envs/bwa2.yaml" 
    }
    withName: 'BCFTOOLS_SORT_INDEX' {
        conda = "${baseDir}/envs/bwa2.yaml" 
    }
    withName: 'BCFTOOLS_MERGE' {
        conda = "${baseDir}/envs/bwa2.yaml" 
    }
    withName: 'BCFTOOLS_FILTER' {
        conda = "${baseDir}/envs/bwa2.yaml"
    }
    withName: 'SNPEFF_ANNOTATION' {
        conda = "${baseDir}/envs/snpEff.yaml"
    }
    withName: 'BAM_COVERAGE' {
        conda = "${baseDir}/envs/mosdepth.yaml"
    }
    withName: 'QUALIMAP_QC' {
        conda = "${baseDir}/envs/qualimap.yaml"
    }
    withName: 'SAMTOOLS_FLAGSTAT' {
        conda = "${baseDir}/envs/bwa2.yaml" // samtools is in bwa2.yaml
    }
    withName: 'SAMTOOLS_STATS' {
        conda = "${baseDir}/envs/bwa2.yaml" // samtools is in bwa2.yaml
    }
    withName: 'BCFTOOLS_VARIANT_STATS' {
        conda = "${baseDir}/envs/bwa2.yaml" // bcftools is in bwa2.yaml
    }
    withName: 'MULTIQC_VARIANT_STATS' {
        conda = "${baseDir}/envs/multiqc.yaml"
    }
    withName: 'MULTIQC' {
        conda = "${baseDir}/envs/multiqc.yaml"
    }
}

profiles {
    conda {
        conda.enabled = true
        // 
        conda.useMamba = true
    }
    docker {
        docker.enabled = true
    }
}

// Capture exit codes
process.errorStrategy = { task.exitStatus in [1,143,137,104,134,139] ? 'retry' : 'finish' }
process.maxRetries = 1
