// nextflow.config

//  ------------------------------------ Meta.data ------------------------------------ //

// Meta.data for Nextflow pipeline
manifest {
    name            = 'Epistasis_Analysis'                                 // 工作流的短名称
    author          = 'jzhang'                                             // 作者信息
    description     = 'Variant calling and epistasis analysis pipeline'    // 项目描述
    version         = '1.0.1'                                              // 工作流版本号
    mainScript      = 'Epistasis.nf'                                       // 主脚本入口文件
    nextflowVersion = '>=23.04.0'                                          // 运行所需的 Nextflow 最低版本或版本范围约束
    homePage        = 'https://github.com/xsx123123/Epistasis_Analysis'    // 项目主页/仓库地址
    license         = 'MIT'                                                // 开源许可证
}

// ------------------------------------ errorStrategy ------------------------------------ //
process.errorStrategy = { 
    task.exitStatus in [1,143,137,104,134,139] ? 'retry' : 'finish' 
}
process.maxRetries = 1
// ------------------------------------ includeConfig ------------------------------------ //
// include global profiles.config
includeConfig './config/profiles.config'
// include process.config
includeConfig './config/process.config'