//  ------------------------------------ PROCESS parameters ------------------------------------ //

// Nextflow Analysis parameters
params {
    // project parameters
    project_name = 'WGS_Epistasis'
    raw_data_path = '/data/jzhang/project/nextflow_test/Epistasis_Analysis_nextflow_raw_data'
    sample_csv = 'sample_nextflow.csv'
    outdir = 'data-deliver'
    help = false

    // Trimming parameters
    length_required = 75
    quality_threshold = 25
    adapter_fasta = "./data/Universal_Adapter.fa"

    // Reference genome
    bwa_index_dir = false
    genome = '/data/jzhang/reference/Lactuca_sativa_V11/Lsat_Salinas_v11.genome.fasta'
    index_name = 'Lsat_Salinas_v11.genome.fasta'

    // BWA-MEM2 parameters
    bwa_mem2_path = '/home/jzhang/software/bwa-mem2-2.3_x64-linux/bwa-mem2'
    bwa_mem2_pl = 'DNB'

    // BCFtools parameters
    bcftools_path = '/home/jzhang/software/bcftools-1.22/bcftools'
    bcftools_reference = '/data/jzhang/reference/Lactuca_sativa_V11/Lsat_Salinas_v11.genome.fasta'
    bcftools_ploidy = 2
    bcftools_verbosity = 3

    // SnpEff parameters
    snpEff_config = '/data/jzhang/reference/snpEff_database/snpEff.config'
    snpeff_db_dir = '/data/jzhang/reference/snpEff_database/'
    snpEff_genome_name = 'Lactuca_sativa_V11'

    // Qualimap parameters
    qualimap_genome_gff = '/data/jzhang/reference/Lactuca_sativa_V11/Lsat_Salinas_v11.genome.gff'
    qualimap_format = 'HTML'
    qualimap_mem = '20000M'

    // FastQ-Screen parameters
    fastq_screen_run = true
    fastq_screen_conf = '/home/jzhang/software/FastQ-Screen-0.16.0/fastq_screen.conf'
    fastq_screen_subset = 100000
    fastq_screen_aligner = 'Bowtie2'
}

// nextflow process run parameters
process {
    // FASTQC_RAW PROCESS
    withName: 'FASTQC_RAW' {
        conda = "${baseDir}/envs/fastqc.yaml"
        container = 'zj/fastqc:1.0.2v'
        cpus = 2
    }

    // FASTQ_SCREEN PROCESS
    withName: 'FASTQ_SCREEN' {
        conda = "${baseDir}/envs/fastq-screen.yaml"
        container = 'zj/fastq_screen:1.0.2v'
        // fast  requires mount a reference genome database in docker
        // docker.runOptions = '+ -v ${params.fastq_screen_conf}:${params.fastq_screen_conf}:ro'
        cpus = 10
    }

    // FASTP_CLEAN PROCESS
    withName: 'FASTP_CLEAN' {
        conda = "${baseDir}/envs/fastp.yaml"
        container = 'zj/fastp:1.0.2v'
        cpus = 12
    }

    // MULTIQC PROCESS
    withName: 'MULTIQC' {
        conda = "${baseDir}/envs/multiqc.yaml"
        container = 'zj/multiqc:1.0.2v'
    }
    
    // BWA_INDEX PROCESS
    withName: 'BWA_INDEX' {
        conda = "${baseDir}/envs/bwa2.yaml"
        container = 'zj/bwa-mem2:1.0.2v'
    }

    // BWA_MEM PROCESS
    withName: 'BWA_MEM' {
        conda = "${baseDir}/envs/bwa2.yaml"
        container = 'zj/bwa-mem2:1.0.2v'
        cpus = 20
    }

    // SAMTOOLS_SORT_INDEX PROCESS
    withName: 'SAMTOOLS_SORT_INDEX' {
        conda = "${baseDir}/envs/bwa2.yaml"
        container = 'zj/samtools:1.0.2v'
        cpus = 10
    }

    // SAMBAMBA_MARKDUPLICATES PROCESS
    withName: 'SAMBAMBA_MARKDUPLICATES' {
        conda = "${baseDir}/envs/sambamba.yaml"
        container = 'zj/sambamba:1.0.2v'
        cpus = 20
    }

    // MULTIQC_MAPPING PROCESS
    withName: 'MULTIQC_MAPPING' {
        conda = "${baseDir}/envs/multiqc.yaml"
        container = 'zj/multiqc:1.0.2v'
    }

    // BCFTOOLS_CALL PROCESS
    withName: 'BCFTOOLS_CALL' {
        conda = "${baseDir}/envs/bcftools.yaml" 
        container = 'zj/bcftools:1.0.2v'
        cpus = 4
    }

    // BCFTOOLS_SORT_INDEX PROCESS
    withName: 'BCFTOOLS_SORT_INDEX' {
        conda = "${baseDir}/envs/bcftools.yaml" 
        container = 'zj/bcftools:1.0.2v'
        cpus = 20
    }

    // BCFTOOLS_MERGE PROCESS
    withName: 'BCFTOOLS_MERGE' {
        conda = "${baseDir}/envs/bcftools.yaml" 
        container = 'zj/bcftools:1.0.2v'
        cpus = 20
    }

    // BCFTOOLS_FILTER PROCESS
    withName: 'BCFTOOLS_FILTER' {
        conda = "${baseDir}/envs/bcftools.yaml"
        container = 'zj/bcftools:1.0.2v'
        cpus = 10
    }

    // SNPEFF_ANNOTATION PROCESS
    withName: 'SNPEFF_ANNOTATION' {
        conda = "${baseDir}/envs/snpEff.yaml"
        container = 'zj/snpeff:1.0.2v'
        // snpEff annnotation requires mount a reference genome database in docker
        // docker.runOptions = '+ -v ${params.snpeff_db_dir}:${params.snpeff_db_dir}:ro'
    }

    // BAM_COVERAGE PROCESS
    withName: 'BAM_COVERAGE' {
        conda = "${baseDir}/envs/mosdepth.yaml"
        container = 'zj/mosdepth:1.0.2v'
        cpus = 10
    }

    // QUALIMAP_QC PROCESS
    withName: 'QUALIMAP_QC' {
        conda = "${baseDir}/envs/qualimap.yaml"
        container = 'zj/qualimap:1.0.2v'
        cpus = 20
    }

    // SAMTOOLS_FLAGSTAT PROCESS
    withName: 'SAMTOOLS_FLAGSTAT' {
        conda = "${baseDir}/envs/bwa2.yaml"
        container = 'zj/samtools:1.0.2v'
        cpus = 10
    }

    // SAMTOOLS_STATS PROCESS
    withName: 'SAMTOOLS_STATS' {
        conda = "${baseDir}/envs/bwa2.yaml"
        container = 'zj/samtools:1.0.2v'
        cpus = 10
    }

    // BCFTOOLS_VARIANT_STATS PROCESS
    withName: 'BCFTOOLS_VARIANT_STATS' {
        conda = "${baseDir}/envs/bcftools.yaml"
        container = 'zj/bcftools:1.0.2v'
        cpus = 10
    }

    // MULTIQC_VARIANT_STATS PROCESS
    withName: 'MULTIQC_VARIANT_STATS' {
        conda = "${baseDir}/envs/multiqc.yaml"
        container = 'zj/multiqc:1.0.2v'
    }
}

//  ------------------------------------ PROCESS parameters ------------------------------------  //
