// ------------------------------------ Executor parameters ------------------------------------
// Executor parameters
profiles{
  // 本地执行
  local {
    process {
      executor = 'local'                 // 本地执行
      cpus = 90                          // 全局并发 CPU 上限（local 执行器）
      memory = '300 GB'                  // 全局内存上限（local 执行器）
      queueSize = 90                     // 待调度队列上限（local 执行器）
    }
    // 本地执行器的监控频率
    executor {
      name = 'local'
      pollInterval = '15 sec'            // 任务状态轮询频率
      dumpInterval = '5 min'             // 执行器状态转储频率
    }
  }
  // SLURM 执行
  slurm {
    process {
      executor = 'slurm'                 // 使用 SLURM 调度
      queue = 'batch'                    // 对应 --partition
      time = '8h'                        // 对应 --time

    // Singularity/Apptainer
    singularity {
      enabled = true
      cacheDir = "${baseDir}/.singularity"
        }
    }
  }
  // Conda/Micromamba 环境管理
  conda {
    conda.enabled = true                    // 启用 Conda 支持
    conda.useMicromamba = true              // 使用 micromamba（轻量快速）
    // conda.useMamba = false               // 使用 mamba
    conda.createOptions = '--yes'           // 创建环境时的额外参数
    // conda.prefix = "./.conda_envs"       // 指定 Conda 环境前缀（集中放置环境，便于缓存与复用）；默认位于工作目录下的 conda 子目录
    // conda.channels = ['conda-forge', 'bioconda']   // 镜像源通道列表
    // 初始化 Conda 环境变量；默认 true         // conda.init = true
    // conda.cacheDir = "./.conda_pkgs"     // Conda 包缓存目录；默认由 Conda 自行管理
    // conda.ignoreChannels = false         // 忽略 channels 设置（强制使用本地 env.yaml 内通道）；默认 false
    // conda.alwaysUseLatest = false        // 当 process { conda = 'env.yaml' } 时是否复用已存在环境；默认 true
    // conda.strictEnv = true               // 当 env.yaml 变更时是否强制重建；默认 true（通过内容哈希识别）
  }

  // Docker 容器（软件与运行环境隔离）
  docker {
    docker.enabled = true                         // 启用 Docker；默认 false
    docker.runOptions = '-u $(id -u):$(id -g)'    // 运行参数（如以当前用户身份运行，避免权限问题）
    // docker.pull = true                         // 是否在每次运行前拉取镜像；默认 false
    // docker.registry = 'registry-1.docker.io'   // 自定义镜像仓库前缀；默认 docker.io
    // docker.container = 'quay.io/org/image:tag' // 指定默认容器镜像

    // 绑定挂载（较少在 config 里设，通常放 runOptions）；默认空
    // docker.mounts = ["//data","/ref:/ref:ro"]

    // 使用 host 网络模式；默认 false
    // docker.enableNetwork = false
    }
}
// ------------------------------------ Executor parameters ------------------------------------